.list {
  text-align: left;
  max-width: 750px;
  margin: auto;
}

.principal{
  height: 120px;
  width: 500px;
  
}
  
.divuno{
  height: 40px;
  width: 1000px;
  float:right;
}
     
     
.divdos{
  height: 40px;
  width: 600px;
  float:right;
}