<div class="list row">
  <div class="col-md-8">
    <div class="input-group mb-3">
      <input
        type="text"
        class="form-control"
        placeholder="Buscar por placa"
        [(ngModel)]="placa"
      />
      <div class="input-group-append">
        <button
          class="btn btn-outline-secondary"
          type="button"
          (click)="searchPlaca()"
        >
          Buscar
        </button>
      </div>
    </div>
  </div>
</div>
  
  <div class="princpial">
    <h4>Lista de automóviles</h4>
    <div class="divuno">
        <div class="table-responsive"  style="width:750px; height:500px; overflow: auto;">
        <table  class="table table-hover">
          <thead>
              <tr>
                  <th scope="col">
                      Placa
                  </th>
                  <th scope="col">
                      Chasis
                  </th>
                  <th scope="col">
                      Kilometraje
                  </th>
                  <th>
                    Detalles
                  </th>
                  <th scope="col">
                    
                </th>
              </tr>
          </thead>
          <tbody>
              <tr mdbTableCol
                  *ngFor="let tutorial of autos; let i = index"
                  [class.active]="i == currentIndex"
                  (click)="setActiveTutorial(tutorial, i)" 
              >
                  <td>
                    {{ tutorial.placa }}
                  </td>
                  <td>
                    {{ tutorial.chasis }}
                  </td>
                  <td>
                    {{ tutorial.kilometraje }}
                  </td>
                  <td>
                    <button class="m-2 btn btn-sm btn-success" (click)="openScrollableContent(longContent)">Ver detalles auto</button>
                  </td>
                  <td>
                    <button class="m-2 btn btn-sm btn-warning" routerLink="/autos/{{ tutorial.id}}" >
                      Modificar
                    </button>
                  </td>
              </tr>
          </tbody>
        </table>
        </div>
      </div>


      
      <div style="clear:both"></div>
   

    <!-- <button class="m-3 btn btn-sm btn-danger" (click)="borrarAllAutos()">
      Eliminar Todo
    </button> -->
  </div>

  <ng-template #longContent let-modal>
    <div *ngIf="currentAuto">
      <div class="modal-header">
        <h4 class="modal-title">Detalles placa: {{ currentAuto.placa }}</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
      </div>
      <div class="modal-body">
          <!-- <form>
            <div class="row"> -->
                <div>
                  <label><strong>Kilometraje:</strong></label>
                  {{ currentAuto.kilometraje }}
                </div>
                <div>
                  <label><strong>Mano de obra:</strong></label>
                  {{ currentAuto.obra }}
                </div>
                <div>
                  <label><strong>Repuestos:</strong></label>
                  {{ currentAuto.repuestos }}
                </div>
                <div>
                  <label><strong>Última fecha de ingreso:</strong></label>
                  {{ currentAuto.fecha | date: 'dd/MM/yyyy' }}
                </div>
                <div>
                  <label><strong>Nombre:</strong></label>
                  {{ currentAuto.nombre }}
                </div>
                <div>
                  <label><strong>Cedula:</strong></label>
                  {{ currentAuto.cedula }}
                </div>
                <div>
                  <label><strong>Celular:</strong></label>
                  {{ currentAuto.celular }}
                </div>
            <!-- </div>
          </form> -->
        </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
      </div>
    </div>
  </ng-template>


