<div>
  <div *ngIf="currentAuto.id" class="edit-form">
    <h4>Modificar</h4>
    <form>
      <div class="form-group">
        <label for="placa">Placa</label>
        <input
          type="text"
          class="form-control"
          id="placa"
          [(ngModel)]="currentAuto.placa"
          name="placa"
        />
      </div>
      <div class="form-group">
        <label for="chasis">Chasis</label>
        <input
          type="text"
          class="form-control"
          id="chasis"
          [(ngModel)]="currentAuto.chasis"
          name="chasis"
        />
      </div>
      <div class="form-group">
        <label for="kilometraje">Kilometraje</label>
        <input
          type="text"
          class="form-control"
          id="kilometraje"
          [(ngModel)]="currentAuto.kilometraje"
          name="kilometraje"
        />
      </div>

      <div class="form-group">
        <label for="fecha">Fecha de último ingreso</label>
        <input
          type="date"
          class="form-control"
          id="fecha"
          required
          [(ngModel)]="currentAuto.fecha"
          name="fecha"
        />
      </div>
      <div class="form-group">
        <label for="obra">Obra</label>
        <textarea [rows]="5" [cols]="30" pInputTextarea autoResize="autoResize"
          class="form-control"
          id="obra"
          [(ngModel)]="currentAuto.obra"
          name="obra">
        </textarea>
      </div>
      <div class="form-group">
        <label for="repuestos">Repuestos</label>
        <textarea [rows]="5" [cols]="30" pInputTextarea autoResize="autoResize"
          class="form-control"
          id="repuestos"
          [(ngModel)]="currentAuto.repuestos"
          name="repuestos">
        </textarea>
      </div>
      <div class="form-group">
        <label for="nombre">Nombre</label>
        <input
          type="text"
          class="form-control"
          id="nombre"
          [(ngModel)]="currentAuto.nombre"
          name="nombre"
        />
      </div>
      <div class="form-group">
        <label for="cedula">Cedula</label>
        <input
          type="text"
          class="form-control"
          id="cedula"
          [(ngModel)]="currentAuto.cedula"
          name="cedula"
        />
      </div>
      <div class="form-group">
        <label for="celular">celular</label>
        <input
          type="text"
          class="form-control"
          id="celular"
          [(ngModel)]="currentAuto.celular"
          name="celular"
        />
      </div>

    </form>


    <button class="m-3 btn btn-sm btn-danger" (click)="deleteAuto()">
      Borrar
    </button>

    <button
      type="submit"
      class="m-3 btn btn-sm btn-warning"
      (click)="updateAuto()"
    >
      Actualizar
    </button>
    <p>{{ message }}</p>
  </div>

  <div *ngIf="!currentAuto.id">
    <br />
    <p>Cannot access this Auto...</p>
  </div>
</div>
